#define SECRET_SSID "NOME_DA_SUA_REDE_WIFI"
#define SECRET_PASS "SENHA_DO_SEU_WIFI"
#define SECRET_MQTT_CLIENT_ID "SEU_MQTT_CLIENT_ID"
#define SECRET_MQTT_USERNAME "SEU_MQTT_USERNAME"
#define SECRET_MQTT_PASSWORD "SUA_MQTT_PASSWORD"
#define SECRET_CHANNEL_ID 1234567
